*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/baselineProfiles/0/JzhkCallRecorder.dm
/app/release/baselineProfiles/1/JzhkCallRecorder.dm
